@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,300&display=swap");

:root {
    // TEXT

    // S
    --font-size-s: 12px;
    --font-line-s: 16px;

    // SM

    --font-size-sm: 14px;
    --font-line-sm: 18px;

    // M
    --font-size-m: 17px;
    --font-line-m: 24px;

    // ML
    --font-size-ml: 20px;
    --font-line-ml: 28px;

    // L
    --font-size-l: 24px;
    --font-line-l: 32px;

    // XL
    --font-size-xl: 32px;
    --font-line-xl: 40px;

    // TITLE
    // XS
    --font-size-title-xs: 40px;
    --font-line-title-xs: 48px;

    // S
    --font-size-title-s: 48px;
    --font-line-title-s: 56px;

    // SM
    --font-size-title-sm: 52px;
    --font-line-title-sm: 60px;

    // M
    --font-size-title-m: 56px;
    --font-line-title-m: 64px;

    // L
    --font-size-title-l: 64px;
    --font-line-title-l: 72px;

    // XL
    --font-size-title-xl: 72px;
    --font-line-title-xl: 80px;

    // Размеры
    --navbar-height: 80px;
    --navbar-height-mobile: 50px;

    // Цвета
    --light-color: #e9e9e9;
    --light-color-second: #fff;
    --gold-color: #d39f64;
    --dark-color: #000;
    --dark-color-second: #1a0015;
    --hover-color-light: rgb(71 71 71 / 24.8%);
    --hover-color-dark: rgb(71 71 71 / 24.8%);
    --shadow-color: rgb(0 0 0 / 23%);
    --text-color-light: #f0f0f0e3;
    --text-color-dark: #4d4d4d;
    --epigraph-color: #e2a45d;
    --red-light: #dd0025;

    // tabs
    --tabs-bg-color-light: #949494da;
    --tabs-color-light: #505050da;
    --tabs-bg-color-dark: #777777da;
    --tabs-color-dark: #fcfcfc;

    // price
    --price-header-color-light: #cbe0e4;
    --price-header-color-dark: rgb(58 14 66);
    --overlay-color: rgba(0 0 0 / 80%);
    --gradient-color-one: #553c9a;
    --gradient-color-two: #ee4b2b;
    --blue-color: #ffe9c2;

    --price-header-color-light-category1: #dfd2a0;
    --price-header-color-dark-category1: rgb(82, 13, 53);

    --price-header-color-light-category2: #68c9919f;
    --price-header-color-dark-category2: rgb(20, 66, 14);

    --price-header-color-light-category3: #c1b6bc9f;
    --price-header-color-dark-category3: rgb(32, 14, 66);

    // z - Индексы
    --menu-z-index: 10;
    --navbar-z-index: 11;
    --modal-z-index: 50;

    // Отступы
    --padding-m: 30px 0;
    --padding-l: 45px 0;
    --padding-xl: 60px 0;
    --margin-s: 15px;
    --margin-m: 30px;
}
