@media (max-width: 992px) {
    .InfoSummerGoodbye {
        padding-top: 30px;
    }

    .introWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .poster {
        width: 300px;
    }

}

@media (max-width: 768px) {
    .mainTitle {
        font-size: var(--font-size-xl);
    }

    .title, 
    .titlePlace, 
    .subTitlePlace {
        margin: 40px 0 20px;
        font-size: var(--font-size-xl);
    }

    .wrap {
        display: flex;
        flex-direction: column;
    }

    .subTitle {
        font-size: var(--font-size-ml);
    }

    .photo {
        width: 250px;
    }

    .subTitlePlace {
        margin-top: 0;
    }

    .volleyballWrap {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 0;
    }

    .volleyballImage {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .title {
        margin: 10px;
    }
    .date {
        font-size: var(--font-size-l);
        margin-bottom: 30px;
    }

    .teacherWrap {
        flex-direction: column;
    }
    

    .title {
        span {
            &::before, &::after {
                display: none;
            }
        }
    }
}
