.title {
    margin-bottom: var(--margin-m);

    font-size: var(--font-size-title-m);
    font-weight: 700;
    line-height: var(--font-line-title-m);
    color: var(--gold-color);
    text-align: center;
    letter-spacing: inherit;

    span {
        position: relative;

        &::before {
            content: "";

            position: absolute;
            top: 50%;
            left: 110%;
            transform: translateY(-50%);

            display: block;

            width: 25px;
            height: 5px;

            background: var(--gold-color);
        }

        &::after {
            content: "";

            position: absolute;
            top: 50%;
            right: 110%;

            display: block;

            width: 25px;
            height: 5px;

            background: var(--gold-color);
        }
    }
}

.innerTitleWrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation {
    background: linear-gradient(90deg, #d39f64, #ffb400, #f33, #d39f64);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% auto;

    animation: textflow 5s linear infinite;

    -webkit-text-fill-color: transparent;
}

@keyframes textflow {
    from { background-position: 0% center; }
    to { background-position: 200% center; }
}

.subTitle {
    padding: 0 10px;

    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: inherit;
    line-height: var(--font-line-xl);
    color: var(--inverted-primary-color);
    letter-spacing: inherit;
}

.text {
    position: relative;

    margin-bottom: var(--margin-s);

    font-size: var(--font-size-ml);
    font-style: inherit;
    line-height: var(--font-line-ml);
    color: var(--inverted-primary-color);
}

.epigraph {
    display: flex;
    flex-direction: column;

    width: 400px;
    padding-bottom: 30px;

    font-size: var(--font-size-ml);
    line-height: var(--font-line-ml);
    color: var(--epigraph-color);
}

.author {
    margin-top: 10px;
}

.error {
    margin-bottom: unset;
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);

    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-light);
    }
}

.without {
    font-size: var(--font-size-title-m);
    font-weight: 700;
    line-height: var(--font-line-title-m);

    span {
        &::before {
            content: none;
        }

        &::after {
            content: none;
        }
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.italic {
    font-style: italic;
    letter-spacing: 0.5px;
}

.back {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 10px;

    // position: absolute;
    // left: -100px;
}

@import "./Text.media";
