.title {
    margin-bottom: var(--margin-m);

    font: var(--font-title-l);
    font-weight: 700;
    font-style: inherit;
    color: var(--hover-color);
    text-align: center;
    letter-spacing: inherit;

    span {
        position: relative;

        &::before {
            content: "";

            position: absolute;
            top: 50%;
            left: 110%;
            transform: translateY(-50%);

            display: block;

            width: 20%;
            height: 5px;

            background: var(--hover-color);
        }

        &::after {
            content: "";

            position: absolute;
            top: 50%;
            right: 110%;

            display: block;

            width: 20%;
            height: 5px;

            background: var(--hover-color);
        }
    }
}

.subTitle {
    font: var(--font-title-xs);
    font-weight: 700;
    font-style: inherit;
    color: var(--inverted-primary-color);
    letter-spacing: inherit;
}

.text {
    margin-bottom: var(--margin-s);
    font: var(--font-ml);
    font-style: inherit;
    color: var(--inverted-primary-color);
}

.epigraph {
    display: flex;
    flex-direction: column;

    width: 400px;
    padding-bottom: 30px;

    font: var(--font-m);
    color: var(--epigraph-color);
}

.author {
    margin-top: 10px;
}

.error {
    font: var(--font-m);
    margin-bottom: unset;

    .title {
        color: var(--red-light);
    }

    .text {
        font: var(--font-m);
        color: var(--red-light);
    }
}

.without {
    font: var(--font-title-m);
    font-weight: 700;
    span {
        &::before {
            content: none;
        }

        &::after {
            content: none;
        }
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

@import "./Text.media";

.italic {
    font-style: italic;
    letter-spacing: 0.5px;
}
