.Photos {
    width: 100%;
    padding: var(--padding-xxl);
}

.wrap {

    // height: 504px;
    position: relative;

    width: 100%;
    margin: 0 auto;
    padding-top: 56.25%;

    object-fit: fill;
}

@import "./Photos.media";
