@media (max-width: 1200px) {
    .Photos {
        padding: var(--padding-xl);
    }
}

@media (max-width: 992px) {
    .Photos {
        padding: var(--padding-l);

        .container {
            margin: 0;
        }
    }
    .wrap {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .Photos {
        padding: var(--padding-m);
    }
    .wrap {
        width: unset;
    }
}


@media (max-width: 576px) {
    .Photos {
        padding: var(--padding-m);
    }
}

@media (max-width: 390px) {
    .wrap {
        height: 70vh;
    }
}
