.Photos {
    width: 100%;
    padding: var(--padding-xxl);
}

.wrap {
    position: relative;

    width: 50%;
    margin: 0 auto;
    height: 100vh;
    object-fit: fill;
}

@import "./Photos.media";
