.Photos {
    width: 100%;
    padding: var(--padding-xxl);
}

.wrap {
    position: relative;

    width: 40%;
    margin: 0 auto;
    height: 80vh;
    object-fit: fill;
}

@import "./Photos.media";
