@media (max-width: 1200px) {
    .Photos {
        padding: var(--padding-xl);
    }
}

@media (max-width: 992px) {
    .Photos {
        padding: var(--padding-l);

        .container {
            width: 100%;
            margin: 0;
        }
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .Photos {
        padding: var(--padding-m);
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    

    }
}

@media (max-width: 480px) {
    
    .gallery {
        grid-template-columns:300px;
        align-items: center;
        justify-content: center;
        
    }
}
