@media (max-width: 1200px) {
    .Photos {
        padding: var(--padding-xl);
    }
}

@media (max-width: 992px) {
    .Photos {
        padding: var(--padding-l);

        .container {
            margin: 0;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .Photos {
        padding: var(--padding-m);
    }
    .wrap {
        width: unset;
        .cart1 {
            grid-column: 1/3;
            grid-row: 1/2;
    
        }
        .cart2 {
            grid-column: 3/5;
            grid-row: 1/2;
        }
        .cart3 {
            grid-column: 1/3;
            grid-row: 2/3;
        }
        .cart4 {
            grid-column: 3/5;
            grid-row: 2/3;
        }
        .cart5 {
            grid-column: 1/3;
            grid-row: 3/5;
        }
        .cart6 {
            grid-column: 3/5;
            grid-row: 3/5;
        }
        .cart7 {
            grid-column: 1/5;
            grid-row: 5/6;
        }
    }
    
}


@media (max-width: 576px) {
    .Photos {
        padding: var(--padding-m);
    }
}

@media (max-width: 390px) {
    .wrap {
        grid-template-columns: repeat(2, 1fr);
        .cart1 {
            grid-column: 1/3;
            grid-row: 1/2;
        }
        .cart2 {
            grid-column: 1/3;
            grid-row: 2/3;
        }
        .cart3 {
            grid-column: 1/3;
            grid-row: 3/4;
        }
        .cart4 {
            grid-column: 1/3;
            grid-row: 4/6;
        }
        .cart5 {
            grid-column: 1/3;
            grid-row: 6/7;
        }
        .cart6 {
            grid-column: 1/3;
            grid-row: 7/9;
        }
        .cart7 {
            grid-column: 1/3;
            grid-row: 9/10;
        }
    }
}
