.Photos {
    overflow: hidden;
    width: 100%;
    padding: var(--padding-l);
}

.gallery {
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 20px;

    .cart {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.zoomWrap {
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    width: 100%;
    height: 100%;

    &:hover {
        opacity: 0.85;

        .zoom {
            opacity: 1;
        }
    }

    .zoom {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s
    }
}

@import "./Photos.media";
