@media (max-width: 992px) {
    .wrap {
        position: relative;

        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .center {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left {
        position: absolute;
        top: 0;
        left: 0;

        width: 50%;
        height: 100%;

        opacity: 0.3;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .right {
        position: absolute;
        top: 0;
        right: 0;

        width: 50%;
        height: 100%;

        opacity: 0.3;
        clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .title {
        right: 0;

        font-size: var(--font-size-title-s);
        font-weight: 700;
        line-height: var(--font-line-title-s);
        text-align: center;
    }

    .subtitle {
        right: 0;

        margin-bottom: 10px;

        font-size: var(--font-size-xl);
        font-weight: 700;
        line-height: var(--font-line-xl);
    }
}

@media (max-width: 768px) {
    .center {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 420px;
        height: 100%;
    }

    .logo {
        display: block;
        width: 190px;
        height: 190px;
    }

    .logoNewYear {
        width: 200px;
        height: 260px;
    }

    .salsaLeft,
    .salsaRight {
        font-size: 60px;
    }
}

@media (max-width: 576px) {
    .Intro {
        height: calc(100vh - var(--navbar-height-mobile));
    }

    .salsaLeft,
    .salsaRight {
        display: none;
    }

    .logo {
        display: block;
        width: 150px;
        height: 150px;
    }

    .logoNewYear {
        width: 200px;
        height: 260px;
    }

    .left {
        width: 100%;
    }

    .right {
        display: none;
    }
}

@media (max-width: 360px) {
    .title {
        font-size: var(--font-size-title-xs);
        font-weight: 700;
        line-height: var(--font-line-title-xs);
    }

    .subtitle {
        font-size: var(--font-size-ml);
        font-weight: 700;
        line-height: var(--font-line-ml);
    }

    .cool {
        font-size: var(--font-size-m);
        font-weight: 700;
        line-height: var(--font-line-m);
    }
}
