@media (max-width: 992px) {
    .wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .star {
        position: absolute;
        z-index: var(--intro-z-index);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: none;

        width: 500px;
        height: 500px;

        background-color: var(--bg-color-navbar);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

    .center {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: auto;
        height: auto;
    }

    .left {
        position: absolute;
        top: 0;
        left: 0;

        width: 50%;
        height: 100%;

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .right {
        position: absolute;
        top: 0;
        right: 0;

        width: 50%;
        height: 100%;

        clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .opacity {
        opacity: 0.3;
    }

    .title {
        right: 0;
        font: var(--font-title-s);
        font-weight: 700;
    }

    .subtitle {
        right: 0;
        margin-bottom: 10px;
        font: var(--font-xl);
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .center {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: auto;
        height: auto;
    }

    .salsaLeft,
    .salsaRight {
        font-size: 60px;
    }
}

@media (max-width: 576px) {
    .Intro {
        height: calc(100vh - var(--navbar-height-mobile));
    }

    .salsaLeft,
    .salsaRight {
        display: none;
    }

    .logo {
        display: block;
        width: 200px;
        // height: 200px;
    }

    .left {
        width: 100%;
    }
}

@media (max-width: 360px) {
    .title {
        font: var(--font-title-xs);
        font-weight: 700;
    }

    .subtitle {
        font: var(--font-ml);
        font-weight: 700;
    }

    .cool {
        font: var(--font-m);
        font-weight: 700;
    }

    .btn {
        font: var(--font-ml);
    }
}
