.Intro {
    width: 100%;
    height: 100vh;

    overflow: hidden;
    box-shadow: 0px -11px 25px 0px rgba(171, 0, 158, 0.2) inset;
}

.wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    height: 100%;
    h1,
    h2 {
        background-image:
            linear-gradient(45deg, var(--gradient-color-one), var(--gradient-color-two));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
}

.left {
    width: 111%;
    height: 111%;
    transform: skew(-10deg) translateX(-65px);
    overflow: hidden;
}

.leftInner {
    width: 125%;
    height: 110%;
    transform: skew(10deg);
}

.center {
    width: 100%;
    height: 100%;
    transform: skew(-10deg);
    overflow: hidden;
}

.centerInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: skew(10deg);
}

.right {
    width: 150%;
    height: 150%;
    transform: skew(-10deg) ;
    overflow: hidden;
}

.rightInner {
    width: 100%;
    height: 100%;
    transform: skew(10deg) translateX(-70px);
}

.title {
    font-size: 128px;
    line-height: 120px;
}

.subtitle {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 10px;
}
