.Drawer {
    cursor: pointer;
    position: relative;

    .content {
        position: absolute;
        transform: translateY(-10px);

        display: none;

        font-size: 10px;

        background-color: var(--bg-color-second);
        border-radius: 5px;

        transition: transform 0.2s ease;
    }

    &:hover {
        .content {
            z-index: 10;
            transform: translateY(0);

            display: flex;
            flex-direction: column;

            width: 220px;
            padding: 5px;
        }
    }
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 20px;

    font-size: var(--font-size-m);

    // line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.icon {
    width: 30px;
    height: 30px;
}

.link {
    padding-left: 5px;

    &:hover {
        background: var(--bg-color);
        border-radius: 5px;
    }
}

@import "./Drawer.media";
