.Form {
    width: 100%;
    padding: var(--padding-xl);
}

.wantToDance {
    transform: rotate(5deg);
    color: var(--light-color);
    margin: 20px 0;

    & span {
        background-color: var(--hover-color);
        padding: 5px 15px;
    }
}

.withoutMargin {
    margin: 0;
}

.wrap {
    display: grid;
    grid-template-columns: 0.7fr 0.9fr;
    gap: 50px;
    justify-content: space-between;
}

.dance {
    border-radius: 15px;
}

.send {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.insta {
    height: 80px;
    // color: var(--link-color);
}

.telegram {
    height: 50px;
    fill: rgb(1 204 255);
    // background-image: #bddb14;
}

@import "./Form.media"
