.Form {
    width: 100%;
    padding: var(--padding-l);
}

.wrap {
    display: grid;
    grid-template-columns: 0.9fr 0.7fr;
    gap: 50px;
    justify-content: space-between;
    height: 750px;
}

.formImg {
    border-radius: 15px;
}

.send {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.withoutMargin {
    margin: 0;
}

.wantToDance {
    transform: rotate(5deg);
    color: var(--light-color);
    margin: 20px 0;

    & span {
        background-color: var(--hover-color);
        padding: 5px 15px;
    }
}

.insta {
    height: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.formInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    // background-color: var(--hover-color);
   
    background-color: var(--light-color);
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.inputWrap {
    display: flex;
    flex-direction: column;
}

.Input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font: var(--font-m);

    background: var(--bg-color-second);
    border: none;
    border-radius: 3px;
    color: var(--inverted-primary-color);

    &::placeholder {
        font: var(--font-m);
    }

    &:focus {
        background: var(--input-color-focus);
        outline: none;
        color: var(--light-color);
        &::placeholder {
            color: var(--light-color)
        }
    }
}

.button {
    margin: 30px 0;
}

.text {
    font: var(--font-m);
    font-style: italic;
    color: var(--hover-color) !important;
}

.politics {
    font-style: italic;
    color: var(--link-color);
    text-decoration: dashed;
    text-transform: inherit;
}

@import "./Form.media"
