.Form {
    width: 100%;
    padding: var(--padding-l);
}

.wrap {
    transform: translateY(100%);

    display: grid;
    grid-template-columns: 0.9fr 0.7fr;
    gap: 50px;
    justify-content: space-between;

    opacity: 0;
}

.formImg {
    border-radius: 15px;
    height: 620px;
    width: 100%;
    object-fit: cover;
}

.send {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.withoutMargin {
    margin: 0;
}

.wantToDance {
    transform: rotate(5deg);
    margin: 20px 0;
    color: var(--light-color);

    & span {
        padding: 5px 15px;
        background-color: var(--hover-color);
    }
}

.insta {
    height: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 400px;
}

.formInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    width: 100%;
    padding: 10px;

    border-radius: 10px;
}

.inputWrap {
    display: flex;
    flex-direction: column;
}

#fio {
    grid-column: 1/3;
    grid-row: 1/2;
}

.Input {
    width: 100%;
    height: 40px;
    padding-left: 10px;

    font: var(--font-m);
    color: var(--inverted-primary-color);

    background: var(--form-bg-color);
    border: none;
    border-radius: 3px;

    &::placeholder {
        font: var(--font-m);
    }

    &:focus {
        color: var(--light-color);
        background: var(--input-color-focus);
        outline: none;

        &::placeholder {
            color: var(--light-color);
        }
    }
}

.button {
    margin: 30px 0;
}

.text {
    font: var(--font-m);
    font-style: italic;
    color: var(--hover-color) !important;
}

.politics {
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
}

.active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 1s;
}

.good {
    color: var(--green-light);
    margin-bottom: 0;
}

.error {
    color: var(--red-light);
    margin-bottom: 0;
}

.loader {
    display: inline-block;

    box-sizing: border-box;
    width: 48px;
    height: 48px;

    border: 5px solid var(--hover-color);
    border-bottom-color: transparent;
    border-radius: 50%;

    animation: rotation 1s linear infinite;
}

.mailWrap {
        text-decoration: none;
}

.mail {
    width: 150px;
    height: 150px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@import "./Form.media"
