.NotFoundContent {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    min-height: calc(100vh - var(--navbar-height) - 150px);
}

.img {
    width: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.btn {
    margin-top: 10px;

    .link {
        color: var(--primary-color);
        text-decoration: none;
        text-transform: uppercase;
    }

    &:hover {
        background: var(--primary-color);

        .link {
            color: var(--bg-color);
        }
    }
}

@media (max-width: 768px) {
    .NotFoundContent {
        flex-direction: column-reverse;
    }
}
