@media (max-width: 992px) {
    .Course {
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .wrap {
        display: flex;
        flex-direction: column;
    }

    .subTitle {
        font-size: var(--font-size-ml);
    }
}

@media (max-width: 576px) {
    .title {
        margin-bottom: 10px;

        span {
            &::before,
            &::after {
                display: none;
            }
        }
    }

    .date {
        margin-bottom: 30px;
        font-size: var(--font-size-l);
    }
}
