@media (max-width: 1200px) {
    .NewYear {
        padding: var(--padding-xl);
    }

    .logo {
        left: 51%;
    }
}

@media (max-width: 992px) {
    .NewYear {
        padding: var(--padding-l);
    }

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .decr {
        padding: 100px 0;
    }
}

@media (max-width: 768px) {
    .NewYear {
        padding: var(--padding-m);
    }
}

@media (max-width: 576px) {
    .NewYear {
        padding: var(--padding-m);
    }

    .decr {
        font-size: 30px;
        span {
            margin-bottom: 20px;
        };
    }

    .svitok {
        width: 300px;
        height: 300px;
    }
    .venok {
        width: 300px;
        height: 300px;
    }

    .logo {
        width: 120px;
        height: 120px;
        left: 50%;
    }
}
