.WhySchool {
    width: 100%;
    padding: var(--padding-l);
    overflow: hidden;
}

.wrap {
    display: grid;
    grid-template-columns: 75% 20%;
    gap: 10px;
}

.invertedwrap {
    position: relative;
    display: grid;
    margin-top: 30px;
    grid-template-columns: 30% 70%;
    gap: 10px;
}

.guiro {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: 280px;
    opacity: 0.75;
}

.maria {
    width: 100%;
    object-fit: contain;
    align-self: end;
}

.text {
    text-indent: 30px;
}

.decr {
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.travel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

    & img {
        display: block;
        width: 250px;
        min-height: 150px;
        object-fit: cover;
    }

    .minsk {
        transform: rotate(5deg);
    }
    .moskow {
        transform: rotate(-3deg) scale(1.1);
    }
    .piter {
        transform: rotate(10deg);
        
    }
}

.teacher {
    display: flex;
    flex-direction: column;
    justify-content: end;

    & img {
        display: block;
        width: 100%;
    }
}

.epigraph {
    align-self: flex-end;
}

.button {
    width: 30px;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.active {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}

@import "./WhySchool.media";
