@media (max-width: 1200px) {
    .WhySchool {
        padding: var(--padding-xl);
    }

    .wrap {
        grid-template-columns: 80% 20%;
        gap: 10px;
    }

    .invertedwrap {
        grid-template-columns: 40% 59%;
    }
}

@media (max-width: 992px) {
    .WhySchool {
        padding: var(--padding-l);
    }

    .wrap {
        display: flex;
    }

    .pick {
        display: none;
    }

    .guiro {
        opacity: 0.1;
    }

    .invertedwrap {
        display: flex;
        flex-direction: column;
    }

    .maria {
        width: 50%;
        align-self: center;
    }
}

@media (max-width: 768px) {
    .WhySchool {
        padding: var(--padding-m);
    }

    .wrap {
        gap: unset;
    }

    .maria {
        width: 100%;
    }

    .card {
        text-align: center;
    }
    .sax {
        top: unset;
        bottom: -25%;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
    }
}

@media (max-width: 576px) {
    .WhySchool {
        padding: var(--padding-m);
    }

    .wrap {
        margin-bottom: 30px;
    }

    .sax {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
