.PriceCard {
    position: relative;

    overflow: hidden;

    width: 100%;
    max-width: 350px;
    min-height: 500px;

    border-radius: 50px;
    box-shadow: 0 7px 25px 0 var(--price-color-shadow);
}

.wrap {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: var(--price-bg-color);
}

.priceData {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 30px 20px;

    color: var(--price-color);
}

.title {
    margin-bottom: 50px;
    font-weight: 700;
    color: var(--hover-color);
    text-align: center;
}

.priceDataWrap {
    padding-left: 30px;
    font: var(--font-ml);
    font-weight: 700;
}

.price,
.countTimeWeek {
    margin-bottom: 30px;
    padding: 0 10px;
}

.student {
    margin-top: 20px;
    font: var(--font-m);
    color: var(--hover-color);
}
