.School {
    overflow: hidden;
    width: 100%;
    padding: var(--padding-l);
}

.wrap {
    display: grid;
    grid-template-columns: 75% 20%;
    gap: 10px;
    position: relative;
}

.bongi {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: 280px;

    opacity: 0.75;
}

.text {
    text-indent: 30px;
}

.decr {
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

@import "./School.media";
