.LookSalsa {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: var(--padding-l);
}

.snowMan {
    position: absolute;
    z-index: 50;
    bottom: -2px;
    left: 34%;

    width: 188px;
    height: 111px;

    opacity: 0.75;
}

.wrap {
    height: 100%;
}

.videoWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: space-around;

    iframe {
        width: 370px;
        height: 210px;
    }
}

@import "./LookSalsa.media";
