.InfoExpressCourse {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: var(--padding-l);
}

.wrap {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    justify-content: space-around;
}

.poster {
    width: 100%;
    height: 530px;
    object-fit: cover;
}

.date {
    font-size: var(--font-size-xl);
    text-transform: uppercase;
}

.card {
    font-style: normal;
}

.subTitle {
    font-size: var(--font-size-l);
    font-style: normal;
    text-transform: uppercase;
}

.linkBtn {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.btn {
    margin-top: 30px;
    font-style: normal;
    color: var(--inverted-primary-color);
}

.active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 1s;
}

@import "./InfoExpressCourse.media";
