.dark {
    --bg-color: var(--dark-color);
    --inverted-bg-color: var(--light-color);
    --bg-color-second: var(--dark-color-second);
    --inverted-bg-color-second: var(--light-color-second);
    --tabs-bg-color: var(--tabs-bg-color-dark);
    --tabs-color: var(--tabs-color-dark);
    --price-header-color: var(--price-header-color-dark);
    --price-header-color-category1: var(--price-header-color-dark-category1);
    --price-header-color-category2: var(--price-header-color-dark-category2);
    --price-header-color-category3: var(--price-header-color-dark-category3);
    --primary-color: var(--gold-color);
    --inverted-primary-color: var(--gold-color);
    --hover-color: var(--hover-color-dark);
    --course-color: var(--blue-color);
    --summer-goodbye-color: var(--blue-color);
}
