:root {
    --bg-color: var(--light-color);
    --inverted-bg-color: var(--dark-color);
    --bg-color-second: var(--light-color-second);
    --inverted-bg-color-second: var(--dark-color-second);
    --bg-color-navbar: var(--light-color);
    --inverted-bg-color-navbar: var(--dark-color-navbar);
    --link-color: var(--link-color-dark);
    --logo-color: var(--hover-color);
    --tabs-bg-color: var(--tabs-bg-color-light);
    --tabs-color: var(--tabs-color-light);
    --table-head-bg-color: var(--table-head-bg-color-light);
    --table-head-color: var(--table-head-color-light);
    --table-body-bg-color: var(--table-body-bg-color-light);
    --table-body-color: var(--table-body-color-light);
    --price-bg-color: var(--price-bg-color-light);
    --price-color: var(--price-color-light);
    --price-color-shadow: var(--price-color-shadow-light);
    --footer-bg-color: var(--light-color-second);
    --footer-color: var(--hover-color);
    --primary-color: var(--text-color-light);
    --inverted-primary-color: var(--text-color-dark);
    --secondary-color: #04e016;
    --inverted-secondary-color: #171ab8;
    --input-color-focus: var(--input-color-focus-light);
}
