.Register {
    width: 100%;
    padding: var(--padding-l);
}

.wrap {
    display: grid;
    grid-template-columns: 0.9fr 0.7fr;
    gap: 50px;
    justify-content: space-between;
}

.registerImg {
    width: 100%;
    height: 620px;
    object-fit: cover;
    border-radius: 15px;
}

.send {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.withoutMargin {
    margin: 0;
}

.wantToDance {
    margin: 20px 0;
    color: var(--light-color-second);

    & span {
        padding: 5px 15px;
        background-color: var(--primary-color);
    }
}

.social {
    display: flex;
}

.insta {
    height: 80px;
}

.telega {
    width: 70px;
    height: 70px;
}

.mailWrap {
    text-decoration: none;
}

.mail {
    width: 150px;
    height: 150px;
}

.direct {
    position: relative;
    display: inline-block;
    height: 100%;
    text-align: center;

    &::after {
        width: 230px;
    }

    &:hover::after {
        content: attr(data-text);

        position: absolute;
        z-index: 1;
        right: 0%;
        bottom: -22px;
        left: -36px;

        padding: 5px;

        color: var(--primary-color);

        background: var(--inverted-primary-color);
        border-radius: 3px;
    }
}

@import "./Register.media"
