@media (max-width: 1200px) {
    .Register {
        padding: var(--padding-xl);
    }

    .registerImg {
        height: 670px;
    }
}

@media (max-width: 992px) {
    .Photos {
        padding: var(--padding-l);
    }

    .wrap {
        grid-template-columns: 0.9fr 0.9fr;
        gap: 0;
    }
}

@media (max-width: 768px) {
    .Register {
        padding: var(--padding-m);
    }

    .wrap {
        display: flex;
        height: 100%;
    }

    .registerImg {
        display: none;
    }

    .direct {
        &:hover::after {
            bottom: -22px;
            left: -180px;
        }
    }
}

@media (max-width: 576px) {
    .Register {
        padding: var(--padding-m);
    }

    .insta {
        width: 170px;
        height: 72px;
    }

    .telega {
        width: 50px;
        height: 50px;
    }

    .wantToDance {
        font-style: normal;
    }
}
