.WhySalsa {
    width: 100%;
    padding: var(--padding-l);
    overflow: hidden;
    // max-height: 400px;
}

.wrap {
    position: relative;
    display: grid;
    grid-template-columns: 25% 75%;
}

.sax {
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 55px;
    transform: rotate(5deg);
    opacity: 0.75;
}

.decr {
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.epigraph {
    align-self: self-end;
}

.svg {
    transform: rotate(90deg);
    width: 30px;
    height: 100%;
    fill: var(--hover-color);
}

.svgInverted {
    transform: rotate(-90deg);
    width: 30px;
    height: 100%;
    fill: var(--hover-color);
}



@import "./WhySalsa.media";
