@media (max-width: 992px) {
    .title {
        span {
            &::after,
            &::before {
                content: "";
                width: 0;
            }
        }
    }

    .old,
    .note, {
        font: var(--font-m);
        font-style: italic;
    }
}

@media (max-width: 768px) {
    .wrap {
        display: grid;
        grid-template-columns: [start] 1fr [line2] 1fr [line3] 1fr [end];
        grid-template-rows: [row1-start] 100px [row2] 50px [row3] 65px [row4] 50px [row5] 65px [row6] 50px [row7] 65px [row8] 50px [row9] 65px [row10] 50px [row11] 65px [last];
        gap: 3px;

        margin-top: 25px;
    }

    .fff,
    .body,
    .old,
    .note, {
        margin-bottom: 0;
    }

    .third {
        grid-column: span 3;
    }
}

@media (max-width: 450px) {
    .fff,
    .body {
        font: var(--font-m);
        font-style: italic;
        hyphens: manual;
    }

    .old,
    .note, {
        font: var(--font-s);
        font-style: italic;
    }
}
