.Prices {
    width: 100%;
    padding: var(--padding-xxl);
}

.wrap {
    display: grid;
    grid-template-columns: [start] 35% [line2] 20% [line3] 21% [line4] 24% [end];
    grid-template-rows: [row1-start] 100px [row2] 50px [row3] 75px [row4] 75px [row5] 50px [row6] 50px [row7] 50px [row8] 75px [last];
    gap: 10px;
    align-items: center;

    margin-top: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    word-wrap: normal;

    text-align: center;

    background-color: var(--price-header-color);
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    text-align: center;
}

.even {
    background-color: var(--price-color-even);
}

.odd {
    background-color: var(--price-color-odd);
}

.old {
    margin-bottom: 0;
    font: var(--font-ml);
    font-style: italic;
}

.firstClm {
    background-color: var(--price-header-color);
}

.note {
    margin-bottom: 0;
    font: var(--font-ml);
    font-style: italic;
    color: var(--hover-color);
}

.fff {
    margin-bottom: 0;
}

@import "./Prices.media"
