.Prices {
    width: 100%;
    padding: var(--padding-xxl);
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    padding: 30px 30px 0;
}

.title {
    margin-bottom: 30px;
    font-size: var(--title-size-xl);
    line-height: var(--line-height-size-xl);
    text-align: center;
}

.subtitle {
    font-size: var(--title-size-s);
    line-height: var(--line-height-size-s);
    color: #850b0b;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.table_head {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;

    height: 50px;
    margin-top: 10px;
}

.head_item {
    font-weight: 700;
    line-height: var(--line-height-size-l);
    text-align: center;
    background-color: #b7b54c;
}

.table_body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.active {
    background-color: #ccc;
}
