.NavBar {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0px 7px 25px 0px rgba(171, 0, 158, 0.2);

    width: 100%;
    height: var(--navbar-height);
    padding: 20px;

    background: var(--light-color);
}

.box {
    width: 0;
    height: 0;

    border: 0 solid transparent;
    border-top: 69px solid black;
    border-right-width: 100px;
    border-left-width: 100px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoWrap {
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    font: var(--font-xl);
    color: var(--primary-color);
    margin-right: 20px;
}

.line {
    position: absolute;
    right: -150px;
    width: 60px;
    height: 80px;
    background-color: var(--text-color);
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

.links {
    margin-left: auto;
}

.link {
    margin-right: 20px;
}

.mainLink {
    margin-right: 15px;
}
