.NavBar {
    position: absolute;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--navbar-height);
    padding: 20px;

    background: var(--bg-color-navbar);
    box-shadow: 0 7px 25px 0 var(--shadow-color);
}

.wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoWrap {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
    font: var(--font-xl);
    color: var(--logo-color);
}

.line {
    position: absolute;
    left: 20%;
    transform: skew(20deg);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: var(--navbar-height);

    background-color: var(--hover-color);
}

.switcher {
    transform: skew(-20deg);
}

.links {
    margin-left: auto;
}

.link {
    margin-right: 20px;
}
