.NavBar {
    z-index: var(--navbar-z-index);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--navbar-height);
    padding: 25px;

    background: var(--bg-color-navbar);
    box-shadow: 0 7px 25px 0 var(--shadow-color);
}

.wrap {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
}

.linkLogo {
    width: 60px;
    height: 60px;
}

.logo {
    width: 100%;
}

.line {
    transform: skew(-14deg);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: var(--navbar-height);

    background-color: var(--hover-color);
}

.switcher {
    // transform: skew(14deg);
    background-color: var(--hover-color);
    height: 40px;
}

.links {
    margin-left: auto;
}

.link {
    margin-right: 20px;
}

.menu {
    display: none;
}

@import "./NavBar.media"
