@media (max-width: 1200px) {
    .oldPrice {
        bottom: 1px;
        left: 42px;
    }
}

@media (max-width: 992px) {
    .oldPrice {
        bottom: 4px;
        left: 35px;
    }
}

@media (max-width: 768px) {
    .wrapBody {
        grid-auto-rows: 60px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;

        margin-top: 10px;

        outline: 1px solid #afafaf66;
    }

    .firstClm {
        grid-column: 1 / 4;
    }

    .salesImage {
        bottom: -22px;
    }
}

@media (max-width: 576px) {
    .salesImage {
        left: -7px;
    }
}

@media (max-width: 450px) {
    .body {
        font-size: var(--font-size-m);
        font-style: italic;
        line-height: var(--font-line-m);
        hyphens: manual;
    }

    .oldPrice {
        bottom: 2px;
        left: 26px;
    }
}
