.wrapBody {
    display: grid;
    grid-template-columns: 35% 1fr 1fr 1fr;
    grid-template-rows: 60px;
    gap: 10px;
    align-items: center;

    margin-top: 20px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    margin-bottom: 0;

    font-style: italic;
    text-align: center;
}

.firstClm {
    position: relative;
    margin-bottom: 0;
    font-weight: 400;
    background-color: var(--price-header-color);
}

.sales {
    position: relative;
    font-weight: 600;
    outline: 2px solid rgb(247 111 111) !important;
    box-shadow: 0 0 14px 0 rgb(255 0 0 / 58%);
}

.salesImage {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: -22px;

    width: 40px;
    height: 40px;
}

.salesPrice {
    color: var(--red-light);
}

.oldPrice {
    position: absolute;
    bottom: 7px;
    left: 50px;

    margin-bottom: 0;

    font-weight: 300;
    text-decoration: line-through;
}

@import "./PriceBody.media"
