.superWrap {
    position: relative;
}

.Salsa {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: var(--padding-l);
}

.partSnow {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 52%;

    width: 202px;
    height: 109px;

    opacity: 0.4;
}

.wrap {
    position: relative;
    display: grid;
    grid-template-columns: 25% 75%;
}

.sax {
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 55px;
    transform: rotate(5deg);

    opacity: 0.75;
}

.decr {
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.epigraph {
    align-self: self-end;
}

@import "./Salsa.media";
