.Abonement {
    width: 100%;
    padding: var(--padding-xxl);
}

.wrap {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
    height: 100%;
}

.decr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pick {
    width: 100%;
    height: 500px;

    background-image: url("https://chers.by/wa-data/public/shop/products/09/94/19409/images/50472/50472.970.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}