.Abonement {
    overflow: hidden;
    width: 100%;
    padding: var(--padding-l);
}

.wrap {
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100%;
}

.trambone {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0.75;
    width: 45%;
}

.decr {
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@import "./Abonement.media";
