.Abonement {
    overflow: hidden;
    width: 100%;
    padding: var(--padding-l);
}

.wrap {
    transform: translateY(100%);
    opacity: 0;
}

.trambone {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    width: 45%;

    opacity: 0.75;
}

.decr {
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 1s;
}

@import "./Abonement.media";
