@media (max-width: 1200px) {
    .Abonement {
        padding: var(--padding-xl);
    }

    .wrap {
        grid-template-columns: 35% 60%;
        gap: 10px;
    }
}

@media (max-width: 992px) {
    .Abonement {
        padding: var(--padding-l);
    }

    .wrap {
        display: flex;
        margin-bottom: 100px;
    }

    .pick {
        display: none;
    }

    .sax {
        opacity: 0.55;
    }
}

@media (max-width: 768px) {
    .Abonement {
        padding: var(--padding-m);
    }

    .wrap {
        gap: unset;
    }

    .sax {
        top: unset;
        bottom: -25%;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
    }
}

@media (max-width: 576px) {
    .Abonement {
        padding: var(--padding-m);
    }

    .wrap {
        margin-bottom: 30px;
    }

    .sax {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
