@media (max-width: 1200px) {
    .Abonement {
        padding: var(--padding-xl);
    }

    .wrap {
        grid-template-columns: 35% 60%;
        gap: 10px;
    }
}

@media (max-width: 992px) {
    .Abonement {
        padding: var(--padding-l);
    }

    .wrap {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .Abonement {
        padding: var(--padding-m);
    }

    .wrap {
        gap: unset;
    }
}

@media (max-width: 576px) {
    .wrap {
        margin-bottom: 0;
    }
}
