.Answers {
    width: 100%;
    padding: var(--padding-l);
    overflow: hidden;
}

.AnswersCard {
    z-index: 3;
}

.wrap {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 700px;
    margin: 0 auto;
}

.clave {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;

    width: 75%;

    opacity: 0.5;
}

@import "./Answers.media";
