@media (max-width: 1200px) {
    .Information {
        padding: var(--padding-xl);
    }
}

@media (max-width: 992px) {
    .Information {
        padding: var(--padding-l);
    }

    .bongi {
        opacity: 0.2;
    }
}

@media (max-width: 768px) {
    .Information {
        padding: var(--padding-m);
    }
}

@media (max-width: 576px) {
    .Information {
        padding: var(--padding-m);
    }

    .title {
        line-height: 32px;
    }
}
