.School {
    overflow: hidden;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: calc(100vh - var(--navbar-height) - 150px);
    padding: var(--padding-l);
}

.card {
    margin-bottom: 15px;
}

.cardTitle {
    margin-bottom: 20px;
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
}

.invertedwrap {
    position: relative;

    display: grid;
    grid-template-columns: 380px 1fr;
    gap: 10px;
    align-items: center;

    margin: 30px 0;
}

.teacherTitle {
    margin-top: 20px;
    font-size: var(--font-size-title-s);
    font-weight: 600;
    color: var(--primary-color);
}

.link {
    position: relative;
}

.iconWrap {
    position: absolute;
    right: 5px;
    bottom: 10px;

    display: flex;
    gap: 5px;
    align-items: center;

    color: #fff;
}

.insta {
    width: 30px;
    height: 30px;
}

.image {
    align-self: end;

    width: 100%;
    height: 352px;
    height: auto;

    object-fit: contain;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

@import "./SchoolPage.media";
