@media (max-width: 1200px) {
    .School {
        padding: var(--padding-xl);
    }
}

@media (max-width: 992px) {
    .School {
        padding: var(--padding-l);
    }

    .teacherTitle {
        font-size: var(--font-size-xl);
    }

    .invertedwrap {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .School {
        padding: var(--padding-m);
    }

    .image {
        width: 485px;
    }

    .card {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .School {
        padding: var(--padding-m);
    }

    .title {
        line-height: 32px;
    }
}

@media (max-width: 485px) {
    .image {
        width: 100%;
    }
}
