.Prices {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.meshok {
    position: absolute;
    top: -82px;
    width: 231px;
    height: 190px;
}


.category1 {
    background-color: var(--price-header-color-category1);
}

.category2 {
    background-color: var(--price-header-color-category2);
}

.category3 {
    background-color: var(--price-header-color-category3);
}

@import "./PriceBlock.media"
