@media (max-width: 992px) {
    .title {
        span {
            &::after,
            &::before {
                content: "";
                width: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .meshok {
        display: none;
    }
}
