.tabs {
    width: 100%;
    color: var(--inverted-primary-color);
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
    cursor: pointer;

    padding: 10px 20px;

    font-size: 16px;
    color: var(--inverted-primary-color);

    background: var(--bg-color);
    border: 1px solid var(--bg-color-second);

    transition: all 0.3s;
}

.item:hover {
    color: var(--light-color);
    background: var(--gold-color);
}

.item.active {
    color: #007bff;
    background-color: var(--bg-color-second);
    border-top: 2px solid #007bff;
    border-bottom: unset;
}

.item.disabled {
    cursor: not-allowed;
    color: #ccc;
}

.content {
    padding: 20px;
    background-color: var(--bg-color-second);
}

/* Кастомные стили из примера использования */
.custom-tabs .custom-active-tab {
    color: #ff5722;
    border-bottom-color: #ff5722;
}

@import "./Tabs.media";
