@media (max-width: 992px) {
    .Card {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .Card {
        padding: 15px;
        font-size: var(--font-size-m);
        font-style: italic;
        line-height: var(--font-line-m);
    }
}
