.Card {
    padding: 20px;
    width: 100%;
    color: var(--inverted-primary-color);
    font: var(--font-m);
    font-style: italic;
    background-color: var(--bg-color);
    border-radius: 10px;
    text-indent: 20px;
}