.Events {
    overflow: hidden;
    width: 100%;
    padding: var(--padding-l);
    padding-bottom: 120px;
    position: relative;
}

.snowMan {
    position: absolute;
    bottom: -2px;
    left: 50%;
    z-index: 50;
    width: 188px;
    height: 111px;
    opacity: 0.75;
}

.superWrap {
    transform: translateY(100%);
    height: 100%;
    opacity: 0;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 10px;

    iframe {
        width: 370px;
        height: 210px;
    }
}

.active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 1s;
}

@import "./Events.media";
