@media (max-width: 1200px) {
    .wrap {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-around;
        height: 100%;

        iframe {
            width: 500px;
            height: 280px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 992px) {
    .Events {
        padding-top: 30px;
    }
}

@media (max-width: 576px) {
    .wrap {
        iframe {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    }
}
