.Footer {
    flex: 0 0 auto;

    width: 100%;
    max-height: 150px;
    padding: var(--padding-xl);

    color: var(--footer-color);

    background: var(--footer-bg-color);
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: var(--font-m);
}

.socialWrap {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: block;
        height: 30px;
    }
}

.telegram {
    width: 30px;
    fill: rgb(1 204 255);
}

.tiktok {
    width: 30px;
    margin-left: 15px;
}

.instagram {
    width: 100px;
    height: 33px;
    margin: 0 5px;
}

.phoneWrap {
    margin-bottom: 10px;
}

.mailWrap,
.phoneWrap {
    position: relative;

    display: flex;
    align-items: center;

    color: var(--footer-color);
    text-decoration: none;

    &::before {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 0;
        height: 2px;

        background: var(--hover-color);

        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background-position: 0;

        &::before {
            width: 100%;
        }
    }
}

.email,
.phone {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: var(--hover-color);
}

.wrapText {
    display: flex;
    flex-direction: column;
}

.text {
    text-align: center;
    opacity: 0.75;
}

.direct {
    position: relative;

    display: inline-block;

    height: 100%;

    font: var(--font-m);
    text-align: center;

    &::after {
        width: 230px;
    }

    &:hover::after {
        content: attr(data-text);

        position: absolute;
        z-index: 1;
        top: -30px;
        right: 0%;
        left: -110px;

        padding: 5px;

        color: var(--primary-color);

        background: var(--inverted-primary-color);
        border-radius: 3px;
    }
}

@import "./Footer.media";
