.AboutSalsa {
    width: 100%;
    padding: var(--padding-l);
}

.wrap {
    position: relative;
    transform: translateY(100%);

    display: grid;
    grid-template-columns: 70% 30%;

    opacity: 0;
}

.decr {
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conga {
    position: absolute;
    top: -15px;
    right: 0;

    height: 300px;

    opacity: 0.75;
}

.active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 1s;
}

@import "./AboutSalsa.media";
