.AppLink {
    position: relative;

    font: var(--font-m);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    background-image:
        linear-gradient(
            to right,
            var(--hover-color),
            var(--hover-color) 50%,
            var(--link-color) 50%
        );
    background-position: -100%;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 100%;

    transition: all 0.3s ease-in-out;

    -webkit-text-fill-color: transparent;

    &::before {
        content: "";

        position: absolute;
        bottom: -3px;
        left: 0;

        display: block;

        width: 0;
        height: 3px;

        background: var(--hover-color);

        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background-position: 0;

        &::before {
            width: 100%;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.primary {
    color: var(--link-color);
}

.inverted {
    color: var(--inverted-primary-color);
}

.button {
    &:hover {
        -webkit-text-fill-color: unset;

        &::before {
            width: 0;
        }
    }
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75;

    &:hover {
        opacity: 1;

        -webkit-text-fill-color: unset;

        &::before {
            width: 0;
        }
    }
}
